<html lang="en-US"></html>
  <head>
    <title>LB 399</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      rel="canonical" 
      href="https://MaxwellDAnderson.github.io/law-diffs/apa/1947-06-09-lb-399.html" />
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="../../stylesheets/bills/screen-general.css" />
    <link 
      rel="prev" 
      type="text/html" 
      href="1945-03-03-lb-138.html" 
      hreflang="en-US" />
    <link 
      rel="next"
      type="text/html"
      href="1951-04-12-lb-241.html"
      hreflang="en-US" />
  </head>
  <body>
    <header class="oldStyle">
      <p class="printRef"></p>
      <p class="chapter">Chapter </p>
      <p class="billDescription">Relating to...</p>
      <p class="lb">Legislative Bill []</p>
      <p class="intro">Introduced by...</p>
      <p class="title">AN ACT...</p>
    </header>
    <main>
      <p class="enactingFormula">Be it enacted by the people of the State of Nebraska,</p>
      <section id="s1">
        <p class="chapeau"></p>
        <p class="content"></p>
      </section>
      <section id="s2">
        <p class="chapeau"></p>
        <p class="content"></p>
      </section>
      <p class="approved">Approved <time datetime="1947-06-09">June 9, 1947</time></p>
    </main>
  </body>
</html>