<html>
  <head>
    <title>Laws [YEAR], LB [#]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../stylesheets/bills/general-screen.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="../../stylesheets/bills/screen-768px.css">
    <link rel="stylesheet" media="print" href="../../stylesheets/bills/print.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../scripts/show-diffs.js"></script>
    <script src="../../scripts/hide-diffs.js"></script>
  </head>
  <body>
    <p class="lb">Legislative Bill [#]</p>
    <p class="approved">Approved by the Governor [Month] [Day], [Year]</p>
    <p class="intro">Introduced by . . .</p>
    <p class="title">AN ACT to . . .</p>
    <p class="lvl0">Be it enacted by the people of the State of Nebraska,</p>
    <p class="lvl0">Section 1. . . .</p>
  </body>
</html>