<html>
  <head>
    <title>NEPA v[#]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../stylesheets/stats/screen-general.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="../../stylesheets/stats/screen-768px.css">
    <link rel="stylesheet" media="print" href="../../stylesheets/stats/print.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../scripts/show-diffs.js"></script>
    <script src="../../scripts/hide-diffs.js"></script>
  </head>

  <body>
    <p style="text-align:center">[NEPA v[#].]</p>
    <p style="text-align:center">[As Amended Through Laws [Year], LB [#].]</p>
    <p style="text-align:center">[Effective [Month] [Day], [Year]. <i>See</i> &sect;&nbsp;[#].]</p>
  </body>
</html>