<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="../stylesheets/general-screen-stylesheet.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../stylesheets/screen-768px-stylesheet.css">
    <link rel="stylesheet" media="print" href="../stylesheets/print-stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <p style="text-align:center">[NEPA v[#].]</p>
    <p style="text-align:center">[As Amended Through Laws [Year], LB [#].]</p>
    <p style="text-align:center">[Effective [Month] [Day], [Year]. <i>See</i> &sect;&nbsp;[#].]</p>
  </body>
</html>