<html lang="en-US">
  <head>
    <title>APA v[#]</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="prev" type="text/html" href="" hreflang="en-US" />
    <link rel="next" type="text/html" href="" hreflang="en-US" />
    <link rel="canonical" href="https://www.maxwelldanderson.github.io/law-diffs/apa/versions/" />
    <link rel="stylesheet" media="screen" type="text/css" href="../../stylesheets/screen-general-v1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../scripts/show-diffs.js"></script>
    <script src="../../scripts/hide-diffs.js"></script>
  </head>

  <body class="StatutoryCodification">
    <header>
      <p class="version-number">APA v[#]</p>
      <p class="amended-through">As Amended Through Laws [Year], LB [#].</p>
      <p class="effective-date">Effective <time datetime="">[Month] [Day], [Year]</time>. <i>See</i> &sect;&nbsp;[#].</p>
    </header>
    <main>
      <section id="">

      </section>
    </main>
  </body>
</html>